

<div class="log">


<h2 class="title_9">Activity log:</h2>

  <button class="action-ho"><a><%= link_to 'Home', welcome_index_path %></a></button>
  <button class="action-entry"><a><%= link_to 'Add Entry', activities_path %></a></button>


  <table class="tabla2">
<% @entries.each do |entry| %>
<div class="bloque">
  <p class="title_10">
    <span class="act-name"><%= entry.activity.title %></span>
    <span class="duration">
    <%= entry.duration %> <span> minutes </span>
    </span>
    <span class="comments">
      <a><%= link_to 'Comments', contoller: "entries", action: "show", id:entry.id %> </a>
      <%#= javascript_tag "alert('hello welcome')" %>
    <%#= entry.comments %>
    </span>

    <span class="delete">
        <a><%= link_to 'Delete', [entry.activity, entry],
                                                    method: :delete, data: {confirm: 'Are you sure?'}%></a>
      </span>

    <span class="date">
    <%#=  @hora= entry.created_at.strftime("%I").to_i - 6 %>
    <%= entry.created_at.strftime("%A, %d " ) %>
      <span class="hora"><%= entry.created_at.strftime("%I:%M%p" ) %></span>
    </span>

  </p>
</div>
<% end %>

  </table>
</div>