

<div class="log">


<h2 class="title_9">Activity log:</h2>

  <table class="tabla2">
<% @entries.each do |entry| %>
<div class="bloque">
  <p class="title_10">
    <span class="act-name"><%= entry.activity.title %></span>
    <span class="duration">
    <%= entry.duration %> <span> minutes </span>
    </span>
    <span class="comments">
      <a><%= link_to 'Comments', entry.activity_id%> </a>
    <%#= entry.comments %>
    </span>
    <span class="date">
    <%#=  @hora= entry.created_at.strftime("%I").to_i - 6 %>
    <%= entry.created_at.strftime("%A, %d " ) %>
      <span class="hora"><%= entry.created_at.strftime("%I:%M%p" ) %></span>
    </span>

  </p>
</div>
<% end %>

  </table>
</div>