<div class="card">
<h1 class="title_2">New Activity</h1>

<%= form_with scope: :activity, url: activities_path, local: true do |form| %>

  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@activity.errors.count, "error") %> found in
        new activity:
      </h2>
      <ul>
        <% @activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <div class="form_label"><%= form.label :title %><br></div>
    <div class="form_text"><%= form.text_field :title %></div>
  </p>

<!--  <p>-->
<!--    <div class="form_label2"><%#= form.label :duration %><br> <span> (minutes) </span><br> </div>-->
<!--    <div class="form_duration"><%#= form.text_field :duration %></div>-->
<!--  </p>-->

  <p>
    <div class="boton"> <%= form.submit %></div>
  </p>
<% end %>




  <button class="action-back"><a><%= link_to 'Home', welcome_index_path %></a></button>

</div>